*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
!neo4j-jdbc-idea-settings.jar
*.war
*.ear
dependency-reduced-pom.xml

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Mac OSX
.DS_Store

# Temp di GEdit
*.*~

#IntelliJ IDEA
.idea/
*.iml

#Eclipse
.settings/
target/
.project
.classpath

#Neo4j
**/neo4j-home/*

# jenv
/.java-version
